<div class="row gap-20 masonry pos-r">
  <div class="masonry-sizer col-md-6"></div>
  <div class="masonry-item col-md-12">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900"><%= action %> Sponsor</h6>
      <div class="mT-30">
        <%= form_for(@sponsor) do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, :class => "form-control", :placeholder => "Name" %>
            <% if @sponsor.errors[:name] %>
              <div class="text-danger">
                <%=  show_errors(@sponsor, :name) %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area(:description, rows: 5, class: "form-control", placeholder: "Description") %>
            <% if @sponsor.errors[:name] %>
              <div class="text-danger">
                <%= show_errors(@sponsor, :description) %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= form.label :link %>
            <%= form.text_field :link, :class => "form-control", :placeholder => "Audio Link" %>
          </div>
          <div class="form-group">
            <%= form.label :logo_link %>
            <%= form.text_field :logo_link, :class => "form-control", :placeholder => "Logo Link" %>
          </div>
          <%= form.submit :class => "btn btn-primary", :value => "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>