<div class="container-fluid"><h4 class="c-grey-900 mT-10 mB-30">Sponsors</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <p><%= link_to 'Create Sponsor', new_sponsor_path %></p>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Logo</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @sponsors.each do |sponsor, index| %>
            <tr>
              <td scope="row"><%= sponsor.id %></td>
              <td><%= sponsor.name %></td>
              <td><%= sponsor.description %></td>
              <td><%= image_tag(sponsor.logo_link , :alt => "rss feed", :height => "50px", :width => "50px") %></td>
              <td>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop<%= index %>" type="button" class="btn cur-p bgc-white no-after dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="c-blue-500 fas fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu fsz-sm" aria-labelledby="btnGroupDrop<%= index %>" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <li><%= link_to "Show".html_safe, sponsor_path(sponsor), class: "d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700" %></li>
                    <li><%= link_to "Edit".html_safe, edit_sponsor_path(sponsor), class: "d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700" %></li>
                    <li><%= button_to "Delete", sponsor, method: :delete,
                      data: {confirm: "Are you sure to delete episode?"}, class: 'd-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700' %></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>