<tr>
  <td><%= @sponsor.name %></td>
  <td><%= @sponsor.link %></td>
  <td><%= @sponsor.description %></td>
  <td><%= @sponsor.logo_link %></td>
  <td><%= link_to 'GO Back', sponsors_path %></td>
</tr>