<div class="row gap-20 masonry pos-r">
  <div class="masonry-sizer col-md-6"></div>
  <div class="masonry-item col-md-12">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900"><%= action %> User</h6>
      <div class="mT-30">
        <%= form_for(@user) do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, :class => "form-control", :placeholder => "Enter Name" %>
            <% if @user.errors[:name] %>
              <div class="text-danger">
                <%=  show_errors(@user, :name) %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= form.label :email %>
            <%= form.text_field :email, :class => "form-control", :placeholder => "Enter Email" %>
            <% if @user.errors[:email] %>
              <div class="text-danger">
                <%= show_errors(@user, :email) %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= form.label :twitter_username %>
            <%= form.text_field :twitter_username, :class => "form-control", :placeholder => "Twitter Username" %>
            <% if @user.errors[:twitter_username] %>
              <div class="text-danger">
                <%= show_errors(@user, :twitter_username) %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= form.label :github_username %>
            <%= form.text_field :github_username, :class => "form-control", :placeholder => "Github Username" %>
            <% if @user.errors[:github_username] %>
              <div class="text-danger">
                <%= show_errors(@user, :github_username) %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= form.label :password %>
            <%= form.password_field :password, :class => "form-control", :placeholder => "Password" %>
            <% if @user.errors[:github_username] %>
              <div class="text-danger">
                <%= show_errors(@user, :password) %>
              </div>
            <% end %>
          </div>
          <%= form.submit :class => "btn btn-primary", :value => "Save" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
