<div class="container-fluid"><h4 class="c-grey-900 mT-10 mB-30">Episodes</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <p><%= link_to 'Create User', new_user_path %></p>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Twitter Username</th>
            <th scope="col">Github Username</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user, index| %>
            <tr>
              <td scope="row"><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.twitter_username %></td>
              <td><%= user.github_username %></td>
              <td>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop<%= index %>" type="button" class="btn cur-p bgc-white no-after dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="c-blue-500 fas fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu fsz-sm" aria-labelledby="btnGroupDrop<%= index %>" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <li><%= link_to "Show", user_path(user), class: "d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700" %></li>
                    <li><%= link_to "Edit", edit_user_path(user), class: "d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700" %></li>
                    <li><%= button_to "Delete", user, method: :delete,
                      data: {confirm: "Are you sure to delete episode?"}, class: 'd-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700' %></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>