<tr>
  <td><%= @user.name %></td>
  <td><%= @user.email %></td>
  <td><%= @user.twitter_username %></td>
  <td><%= @user.github_username %></td>
  <td><%= link_to 'Go Back Man', users_path %></td>
</tr>