<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="/dashboard">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
                  <%= image_tag "logo.png" %>
                </div>
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text">Musik</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="fas fa-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30 active">
        <%= link_to "<span class='icon-holder'>
          <i class='c-blue-500 fas fa-home'></i></span>
          <span class='title'>Dashboard</span>".html_safe, dashboard_path, class: 'sidebar-link' %>
      </li>
      <li class="nav-item dropdown">
        <%= link_to "<span class='icon-holder'>
          <i class='c-pink-500 fas fa-palette'></i></span>
          <span class='title'>Episodes</span>".html_safe, episodes_path, class: 'sidebar-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='icon-holder'>
          <i class='c-brown-500 fab fa-audible'></i></span>
          <span class='title'>Sponsors</span>".html_safe, sponsors_path, class: 'sidebar-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='icon-holder'>
          <i class='c-blue-500 fas fa-user-astronaut'></i></span>
          <span class='title'>Users</span>".html_safe, users_path, class: 'sidebar-link' %>
      </li>
    </ul>
  </div>
</div>