<div class="row gap-20 masonry pos-r">
  <div class="masonry-sizer col-md-6"></div>
  <div class="masonry-item col-md-12">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900"><%= action %> Episode</h6>
      <div class="mT-30">
        <%= form_for(@episode) do |form| %>
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, :class => "form-control", :placeholder => "Title" %>
            <% if @episode.errors[:title] %>
              <div class="text-danger">
                <%=  show_errors(@episode, :title) %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area(:description, rows: 5, class: "form-control", placeholder: "Description") %>
            <div class="error">
              <%= show_errors(@episode, :description) %>
            </div>
          </div>
          <div class="form-group">
            <%= form.label :audio_link %>
            <%= form.text_field :audio_link, :class => "form-control", :placeholder => "Audio Link" %>
          </div>
          <div class="form-group">
            <%= form.label :links %>
            <%= form.text_area(:links, rows: 5, class: "form-control", placeholder: "Episode Description") %>
          </div>
          <%= form.submit :class => "btn btn-primary", :value => "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>