<tr>
  <td><%= @episode.title %></td>
  <td><%= @episode.description %></td>
  <td><%= @episode.audio_link %></td>
  <td><%= @episode.links %></td>
  <td><%= link_to 'Go Back Man', episodes_path %></td>
</tr>